.img{
  width: auto;
  height: calc(100vh - 130px);
}
.container{
  display: flex;
}
.right{
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.info{
  padding: 2rem;
  margin-bottom: auto;
}
.extra{
  margin-bottom: 5px;
  text-align: center;
}